GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=CHANGEME
GF_USERS_ALLOW_SIGN_UP=false

GF_SERVER_CERT_KEY=/etc/grafana/provisioning/ssl.key
GF_SERVER_CERT_FILE=/etc/grafana/provisioning/ssl.cert
GF_SERVER_PROTOCOL=https
GF_SERVER_ROOT_URL=https://grafana.tetherapp.io:3000

GF_AUTH_GITHUB_ENABLED=true
GF_AUTH_GITHUB_CLIENT_ID=CHANGEME
GF_AUTH_GITHUB_CLIENT_SECRET=CHANGEME
GF_AUTH_GITHUB_ALLOWED_ORGANIZATIONS=Tethernet-ai
